* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.containerhp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #4c453eb4; */
    background-color: #0b031a;
}

.headinghp {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.iitm {
    font-family: 'Algerian';
    color: #4263c7;
    font-size: 4.4rem;
}

.tSize {
    font-size: 6rem;
}


.boxhp {
    height: 41.5rem;
    width: 94rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.599);
    /* border-radius: 1rem; */
}

.btnhp {
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    border-radius: 1rem;
    background-color: rgba(6, 11, 115, 0.979);
    /* background-color: rgba(0, 0, 0, 0.599); */
    color: white;
    border-style: none;
    border: 0.1rem solid white;
}

.btnhp:hover {
    border: 1rem soild white;
    border-radius: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #071f6a;
    
}
.containerHP {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.showcaseHP {
    background: #ddd;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowHP {
    height: 350px;
    border: 2px solid none;
    background: white;
    box-shadow: 5px 5px 20px 0px #aaa;
}

.row1HP {
    margin-bottom: 10rem;
}

.row2HP {
    margin-bottom: 10rem;
}

.row1HP .img-boxHP,
.row2HP .text-boxHP {
    float: left;
    width: 50%;
}

.row2HP .img-boxHP,
.row1HP .text-boxHP {
    float: right;
    width: 50%;
}

.rowHP .img-boxHP {
    height: 100%;
}

.rowHP .text-boxHP {
    padding: 3rem;
}

.rowHP .img-boxHP img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.rowHP::after {
    content: '';
    display: block;
    clear: both;
}

.lg-headingHP {
    font-size: 3.5rem;
}

.text-greyHP {
    color: #555555
}

.btnHP {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em;
}

.btn-primaryHP {
    background-color: green;
    color: white;
    border-radius: 80px;
}

.btn-secondaryHP {
    border: 1px solid green;
    background-color: white;
    color: green;
    border-radius: 80px;
}
.rowHP::after {
    content: '';
    display: block;
    clear: both;
}
.featuresHP {
    padding: 10rem 0;
}

/* .box-wrapperHP {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.279);
} */

.boxHP {
    width: 33.33333333%;
    float: left;
    padding: 2rem;
    text-align: center;

}

.box-wrapperHP::after {
    content: '';
    display: block;
    clear: both;
}

.box-1HP,
.box-3HP {
    background-color: #071f6a;
    color: white;
    border: 0.1rem solid white;
}

.box-2HP {
    /* background-color: #071f6a; */
    color: rgb(208, 212, 206);
}